.title {
    text-align: center;
    font-family: 'Roboto';
    font-size: 10vmin;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: black;   
}

a:hover {
    color: #1E90FF;   
}

.divstyle1 {
    text-align: center;
}

.divstyle1 img {
    width: 90vmin;
}
