.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}
.top-button {
    padding-bottom: 30px;
}
.center-text {
    text-align: center;
    font-size: 30px;
    color:  lightgray;
}
figure {
    margin: 0;
}
figcaption {
    padding-top: 10px;
}
img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button {
    
}

.active-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2c2e2d;
    border: none;
    border-radius: 15px;
}

.active-button:active {
  background-color: #595c5a;
  transform: translateY(4px);
}